.navAccent .circle-outmost {
  display: none;
}

.navAccent .circle-bounding-box {
  position: absolute;
  height: 15rem;
  width: 40vw;
  right: 0;
  top: 0;
}

.navAccent .circle-flex-container {
  position: absolute;
  top: -6rem;
  left: 10vw;
}

@media (min-width: 16em) and (max-width: 37em) {
  .navAccent .circle-bounding-box {
    width: 12.5em;
  }
  .navAccent .circle-flex-container {
    top: -4.4em;
    left: 3.75em;
  }
}

@media (min-width: 50em) {
  .navAccent .circle-bounding-box {
    width: 20em;
  }
  .navAccent .circle-flex-container {
    left: 5em;
  }
}
